.highlight-wrapper {
  font-family: myFirstFont;
  display: block;
}

.copy-code-button {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 65px;
  color: #fff;
  background-color: #000;
  padding: 6px 6px 7px 6px;
  margin: 0 0 0 0px;
  /*cursor: pointer;*/
  font-family: myFirstFont;
  border-style: solid;
  border-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-color: #fff;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  color: #000;
  background-color: #fff;
}

.copyable-text-area {
  position: absolute;
  height: 0;
  z-index: -1;

}

